.footer {
  width: 100%;

  .footer-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #343a40;
    padding: 35px 0;

    .inner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .column {
        width: 23%;

        .title {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: #868e96;
        }

        .item-list {
          width: 100%;
          padding: 10px 0 0;

          .item {
            font-size: 14px;
            font-weight: 300;
            color: #eeeeee;
            text-decoration: none;
            display: block;
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .copyright {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 0;
    background-color: #212529;
    color: #ffffff;

    .copyright-text {
      font-size: 12px;
      font-weight: 300;

      .text-link {
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;

        &.text-link__orange {
          color: #feca57;
        }
      }
    }

    .copyright-icon {
      font-size: 8px;
      transform: rotate(-90deg) translateX(1px);
      margin: 0 2px;
    }
  }
}