.product-detail-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .product-info {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .slides-wrap {
      width: 50%;
      padding: 50px 0;
      position: relative;

      .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        border: 1px solid #eee;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        &__prev {
          left: 10px;
        }

        &__next {
          right: 10px;
        }
      }

      .slide {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #eeeeee;
      }
    }
  }
}